<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="lancamentos.listaControleLancamento" aria-label="Elements">
    <!-- Data Lançamento -->
    <ng-container matColumnDef="dataEfetivaLancamento">
      <th mat-header-cell *matHeaderCellDef>Data Lançamento</th>
      <td mat-cell *matCellDef="let row" data-label="dataEfetivaLancamento">{{row.dataEfetivaLancamento | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Descrição -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let row" data-label="descricao">{{row.lancamentoContaCorrenteCliente?.nomeTipoOperacao}}</td>
    </ng-container>

    <!-- Número -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>Número</th>
      <td mat-cell *matCellDef="let row" data-label="numero">{{row.lancamentoContaCorrenteCliente?.numeroRemessaBanco}}</td>
    </ng-container>

    <!-- Situação -->
    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef>Situação</th>
      <td mat-cell *matCellDef="let row" data-label="situacao">{{row.lancamentoContaCorrenteCliente?.nomeSituacaoRemessa}}</td>
    </ng-container>

    <!-- Data de confirmação -->
    <ng-container matColumnDef="dataConfirmacao">
      <th mat-header-cell *matHeaderCellDef>Data confirmação</th>
      <td mat-cell *matCellDef="let row" data-label="dataConfirmacao">{{row.dataLancamentoContaCorrenteCliente | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Dados bancários -->
    <ng-container matColumnDef="dadosBancarios">
      <th mat-header-cell *matHeaderCellDef>Dados bancários</th>
      <td mat-cell *matCellDef="let row" data-label="dadosBancarios">{{row.nomeBanco}}</td>
    </ng-container>

    <!-- Valor final -->
    <ng-container matColumnDef="valorFinal">
      <th mat-header-cell *matHeaderCellDef>Valor Final</th>
      <td mat-cell *matCellDef="let row" data-label="valorFinal">{{row.valorLancamentoRemessa | currency:'BRL'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>